

a {
    text-decoration: none;
} 

body {
    margin-left: 30%;
} 

button {
    background-color: orange;
    width: 90%;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

#logodiv {
    width: 30%;
    padding-left: 50px;
}
#container {
    width: 30%;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 3px;
} 

#createaccount {
    width: 30%;
    background-color: lightgray;
    margin-top: 1%;
    border-radius: 5px;
} 

h3 {
    font-family: Arial, Helvetica, sans-serif;
} 

input {
    width: 90%;
} 

li {
    float: left;
    padding: 10px;
}

li#first {
    padding-left: 0px;
}

li:a {
    display: block;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0px;
}

